@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

.code-select-button-group {
  justify-content: center;

  .value-system-input {
    width: 70%;

    .text-input {
      margin: auto 3px;
      width: 45%;
    }
  }
}

.TSelect button.bp3-button {
  transform: none;
}

.bp3-icon-left-join {
  align-self: center;
}

.column-select {
  display: flex;

  .column-select-input {
    align-self: center;
  }
  .column-select-joins {
    margin-left: 10px;
  }
}
