@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/css/variables";
@import "~react-json-pretty/src/JSONPretty.monikai.css";

body {
  padding: 0;
  margin: 0;
}

#application-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#application {
  background-color: #10161a;
  color: #f5f8fa;
}

.bp3-menu {
  max-height: 50vh;
  overflow-y: auto;
}

#main-container {
  height: calc(100vh);
}

#main-container-spinner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
}

#left-panel {
  flex-grow: 1;
  flex-basis: 350px;

  padding: 10px 0px;
  overflow: auto;
  background-color: darkgray;
}

#left-panel .bp3-tree-node-content {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 34px;
}

#left-panel .bp3-tree-node-label > div {
  line-height: 1.1em;
}

#left-panel .bp3-tree-node-label > div > div:nth-child(2) {
  color: gray;
  font-size: 0.8em;
}

#left-panel
  .bp3-tree-node-selected
  .bp3-tree-node-label
  > div
  > div:nth-child(2) {
  color: lightgray;
}

#right-container {
  flex-grow: 1;
  flex-basis: 80%;
  max-width: 80%;
  padding: 20px;
}

#input-columns-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#input-columns-viewer {
  margin-bottom: 20px;
}

#input-columns-viewer table {
  width: 100%;
  border-radius: 6px;
  border-collapse: collapse;
}

#input-columns-viewer table td,
#input-columns-viewer table th {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

#input-columns-viewer table td {
  background-color: darkgray;
  border-color: darkgrey;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}

#input-columns-viewer table td .bp3-control-group {
  justify-content: center;
}
#input-columns-viewer table td:first-child {
  background-color: darkgray;
  border-right-width: 0px;
}
#input-columns-viewer table tr:first-child th:nth-child(2) {
  border-top-left-radius: 6px;
}
#input-columns-viewer table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
#input-columns-viewer table tr:nth-child(2) td:first-child {
  border-top-left-radius: 6px;
}
#input-columns-viewer table tr:nth-child(2) td:last-child {
  border: 0px;
  border-bottom-right-radius: 6px;
}
#input-columns-viewer table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
#input-columns-viewer table tr:last-child td {
  border-bottom: 0px;
}
#input-columns-viewer table th:not(:first-child) {
  background-color: darkgray;
}
#input-columns-viewer table th:not(:first-child):not(:last-child) {
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 1px;
}
#column-selector {
  flex-grow: 1;
  overflow: auto;
  background-color: darkgray;
  border-radius: 6px;
}
.bp3-form-group {
  margin: 0;
}
#dummy-column-picker {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
#dummy-column-picker .bp3-form-group {
  justify-content: center;
}
#text-tab-search-group {
  padding: 20px;
}
#text-tab-search-group .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#text-tab-search-group .row > *:not(:last-child) {
  margin-right: 20px;
}
#text-tab-search-group .row #text-input {
  flex-grow: 1;
}
#text-tab-search-group .row #switch > * {
  margin-bottom: 0px;
}
#comment {
  text-align: center;
}
#comment-input {
  display: flex;
}
#save-comment-button {
  font-size: large;
  border-style: solid;
  border-radius: 6px;
}
.column-viewer {
  padding: 20px;
  overflow: auto;
}
.column-viewer .column-flexbox {
  background-color: darkgray;
  border-radius: 6px;
  overflow-x: scroll;
  padding: 20px;
  color: darkgray;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
.column-viewer .column-flexbox .add-button {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 7px;
  position: relative;
  left: calc(65%);
  top: -5px;
  z-index: 3;
  background-color: darkgray;
  color: darkgray;
  border-radius: 50%;
}
.column-viewer .column-flexbox .add-button > * {
  margin-top: 1px;
}
.column-viewer .column-flexbox .add-button:hover {
  background-color: darkgray;
}
.column-viewer .column-flexbox .column {
  height: calc(98%);
  position: relative;
  top: -22px;
  margin-right: 20px;
  min-width: 150px;
  background-color: darkgray;
  border-radius: 6px;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.column-viewer .column-flexbox .column .column-header {
  position: sticky;
  top: 0;
  background-color: darkgray;
  text-align: center;
  padding: 0px 0px;
  z-index: 2;
}
.column-viewer .column-flexbox .column .column-header > * {
  padding: 2px 0px;
  height: 22px;
  box-sizing: border-box;
}
.column-viewer .column-flexbox .column .column-header > *:not(:last-child) {
  border-bottom: 1px solid;
}
.column-viewer .column-flexbox .column .column-rows {
  height: calc(34%);
}
.column-viewer .column-flexbox .column .column-rows > * {
  padding: 2px 10px;
  border-bottom: 1px solid;
}
.center-flex {
  justify-content: center;
}
.jsonView span {
  color: slategray;
}
#json-pretty {
  text-overflow: ellipsis;
  overflow: hidden;
}
.bp3-control-group > * {
  overflow: hidden;
}
