@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

$window-padding: 20px;
$border-radius: 6px;

.bp3-card {
  position: relative;

  .bp3-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  .card-flex {
    display: flex;
    flex-direction: row;
    font-size: 14px;

    .card-tag {
      background-color: $gray1;
      color: $light-gray5;
      padding: 2px 8px;
      border-radius: 3px;
    }

    .card-credentials-missing {
      background-color: $orange1;
      color: $light-gray5;
      margin-left: 1rem;
      padding: 2px 8px;
      border-radius: 3px;
    }
  }

  .card-absolute {
    position: absolute;
    top: -7px;
  }

  .custom-checkbox {
    margin: auto;
    margin-left: 8px;
  }

  .centered-question-mark {
    align-self: center;
    padding-left: 5px;
  }
}

.bp3-popover-content {
  .text {
    width: min-content;
    margin: 5px;
  }
}

.sql-input-form {
  width: 100%;

  display: flex;
  flex-direction: row;

  & > *:not(:last-child) {
    margin-right: $window-padding;
  }

  .condition-action {
    display: flex;
    align-items: center;
  }

  .condition-column {
    display: flex;
    align-items: center;
  }
}

.input-conditions {
  width: 100%;

  display: flex;
  flex-direction: row;

  & > *:not(:last-child) {
    margin-right: $window-padding;
  }

  .condition-action {
    display: flex;
    align-items: center;
  }

  .condition-column {
    display: flex;
    align-items: center;
  }
}

.stacked-tags {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .bp3-tag {
    text-align: center;
  }
  .bp3-button {
    word-wrap: break-word;
  }
}