@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

$border-radius: 6px;

#comment-block {
  text-align: left;
  white-space: pre-line;
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 50%;
  min-width: 768px;
}

#comment-block h3 {
  text-align: center;
}

.user-buttons {
  align-self: flex-end;

  button {
    margin-right: 10px;
  }
}

.user-input {
  display: flex;
  flex-direction: column;
}

.card-input {
  align-self: flex-end;
  padding: 0px 20px;
  min-width: 400px;
}

#validate-button {
  text-align: center;
  align-self: center;
  border-radius: $border-radius;
}

#comment-input {
  display: flex;
  margin: 0px;
  border-radius: $border-radius;

  .text-input {
    margin-right: 10px;
    width: calc(100% - 50px);
    align-self: flex-end;
  }
}

#send-comment-button {
  border-style: solid $light-gray3;
  border-radius: $border-radius;
}

.user-buttons,
.card-input,
.my-comment,
.other-comment {
  width: 90%;
  margin: 5px 10px;
  border-radius: $border-radius;
}

.validation-comment {
  border: 2px #0d8050 solid;
  background-color: #3dcc9150;
  display: flex;

  .validation-icon {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.my-comment {
  align-self: flex-end;
}

.other-comment {
  align-self: flex-start;
}
