@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

$window-padding: 20px;

#main-container-newsource {
  max-width: 85%;
  margin: 0px auto;
  padding: $window-padding;

  .bp3-button {
    margin: $window-padding 0px;
    margin-bottom: 4 * $window-padding;
  }

  p {
    text-align: justify;
  }

  .align-right {
    text-align: right;
  }

  .warning {
    color: $pt-intent-warning;
  }

  .disabled-text {
    color: $pt-text-color-disabled;
  }

  .db-credential-container {
    display: flex;
    flex-wrap: wrap;
  }

  .credential-field {
    display: flex;
    margin: 1rem;
  }

  .switch {
    margin-top: 5px;
  }
}
