@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

#navbar {
  background-color: @black;
}

.bp3-navbar-heading {
  display: flex;

  h2 {
    margin: 0px 0px 0px 9px;
    color: @white;
    cursor: pointer;
    // background: linear-gradient(60deg, #e66465, #9198e5);
    // background: linear-gradient(60deg, #F29D49, #DB3737);
    // background: linear-gradient(60deg, #DB2B30, #8F1D2C, #5A142A, #400D2A, #140A25);
    // background: linear-gradient(140deg, #DB2B30, #8F1D2C);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}
