@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

body {
    background-color: #10161A;
    color: #F5F8FA;
    padding: 0;
    margin: 0;
}

#application-wrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.bp3-menu {
    max-height: 50vh;
    overflow-y: auto;
}

#left-panel {
    padding: 10px 0px;
    height: 100vh;
    max-width: 350px;
    background-color: @dark-gray1;
}

.bp3-form-group {
    margin: 0;
}
