@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

body {
    background-color: #10161A;
    color: #F5F8FA;
    padding: 0;
    margin: 0;
}

#application-wrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.bp3-menu {
    max-height: 50vh;
    overflow-y: auto;
}

#main-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    height: calc(100vh - @pt-navbar-height);
}

#left-panel {
    flex-grow: 1;
    flex-basis: 200px;

    padding: 10px 0px;
    background-color: @dark-gray1;
}

#second-container {
    flex-grow: 4;
    flex-basis: 80%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    padding: 30px;
}

#column-viewer {
    flex-grow: 1;
    flex-basis: 100px;

    background-color: @dark-gray2;
    padding: 30px;

    .bp3-card {
        margin-bottom: 5px;
        color: @black;
    }
}

#column-selector {
    flex-grow: 3;
    flex-basis: 80%;

    background-color: @dark-gray3;
    padding: 30px;
}

.bp3-form-group {
    margin: 0;
}
