@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

$window-padding: 20px;

#main-div {
  max-width: 600px;
  margin: 0px auto;
  padding: $window-padding;
  
  .creds-alert {
    margin-left: 10px;
    color: #FFA500;
  }

  .button-submit {
    margin: $window-padding 0px;
  }

  .align-right {
    text-align: right;
  }
}
