@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

@window-padding: 20px;

body {
    background-color: @black;
    color: @light-gray1;
}

#mapping-explorer-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height: 100vh;

    #left-part {
        background-color: @light-gray5;
        color: @black;
        flex-basis: 75%;

        .panel-header {
            background-color: @light-gray3;
        }
    }

    #right-part {
        background-color: @dark-gray1;
        color: @light-gray1;
        min-width: 300px;
        flex-basis: 25%;

        .panel-header {
            background-color: @black;
        }
    }

    .panel-header {
        height: 50px;
        padding: 0 @window-padding;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

#fhir-resource-tree {
    .bp3-tree {
        box-shadow: none;
    }

    .bp3-tree-node-content {
        padding-top: 2px;
        padding-bottom: 2px;
        height: 34px;
    }

    .bp3-tree-node-label {
        & > div {
        line-height: 1.1em;

            & > div:nth-child(2) {
                color: @gray2;
                font-size: 0.8em;
            }
        }
    }

    .bp3-tree-node-selected .bp3-tree-node-label > div > div:nth-child(2) {
        color: @gray5;
    }
}
