@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

$window-padding: 20px;

h2 {
  margin-top: 0;
}

#main-container-softwares {
  padding: $window-padding;

  .bp3-button {
    margin: 15px;
  }
}

#software-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: $window-padding;
  flex-wrap: wrap;

  .bp3-card {
    max-width: 400px;
    min-width: 300px;
    margin: $window-padding;

    .card-header {
      display: flex;

      .bp3-button {
        position: absolute;
        right: 5%;
        border: 0;
        margin: 0;
      }
    }

    .tags {
      display: flex;
      margin-bottom: $window-padding;

      & > .bp3-tag {
        margin-right: calc(#{$window-padding} / 2);
      }
    }
  }

  .bp3-icon {
    margin-right: calc(#{$window-padding} / 2);
  }

  .bp3-button {
    float: right;
  }
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
