@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

$window-padding: 20px;

h2 {
  margin-top: 0;
}

#main-container-softwares {
  padding: $window-padding;

  .bp3-button {
    margin: 15px;
  }

  .add-collaborator-button {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    display: flex;
  }
}

#software-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: $window-padding;
  flex-wrap: wrap;

  .bp3-card {
    max-width: 400px;
    min-width: 300px;
    margin: $window-padding;

    .card-header {
      display: flex;

      .bp3-button-group {
        position: absolute;
        right: 5%;
      }

      .bp3-button {
        border: 0;
        margin: 0;
      }

      .bp3-icon {
        margin: 0;
      }
    }

    .tags {
      display: flex;
      margin-bottom: $window-padding;

      & > .bp3-tag {
        margin-right: calc(#{$window-padding} / 2);
      }
    }
  }

  .bp3-icon {
    margin-right: calc(#{$window-padding} / 2);
  }

  .bp3-button {
    float: right;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collaboratorsTable {
  text-align: center;
  width: 30%;
  tr.collaboratorsRow {
    td {
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

.delete-warning {
  color: $red1;
}
