@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

$window-padding: 20px;

.bp3-dialog {
  width: 80%;
}

.main-div {
  width: 95%;
  margin: 0px auto;
  padding: $window-padding;
  color: black;

  .center-text {
    text-align: center;
  }

  .text-input {
    height: 29px;
    padding: 5px 5px;
    margin: 0px auto;
  }

  .source {
    float: left;
    width: 50%;
    text-align: center;
  }

  .div-with-margin {
    width: auto;
    margin: 0px auto;
  } 

  .bp3-button {
    margin: 10px auto;
    width: auto;
  }

  .align-right {
    text-align: right;

    // .bp3-button {
    //   margin: 10px auto;
    //   width: auto;
    // }
  }
}